.Main-div{
    margin-top: 125px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Card-wrap{
    margin-top: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    perspective: 800;
    -webkit-perspective: 800;
}
.Card{
    position: relative;
    width: 40vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    transform-style: preserve-3d;
}
.ProfilePictureFront, .ProfilePictureBack{
    position: absolute;
    height: 35vh;
    width: 35vh;
    align-items: center;
    border-radius: 50%;
    box-shadow: var(--ShadowRed);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

}
.ProfilePictureBack{
    transform: rotateY(180deg);
}
.Card{
    animation-name: spin;
    animation-duration: 7500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(360deg);
    }
}

.Card-text{
    padding-top: 200px;
}
.Card-text > :nth-child(1){
    margin: 0%;
    color: var(--DarkRed);
    font-weight: bold;
    font-size: 5vh;
    text-shadow: 3px 3px 0 var(--ShadowLila), 0 0 1rem rgb(255, 255, 255);
}
.Card-text > :nth-child(2){
    margin: 1%;
    color: var(--DarkRed);
    font-weight: bold;
    font-size: 4vh;
}
.Card-text > :nth-child(3){
    margin: 0%;
    color: var(--Black);
    font-size: 3vh;
}
.Card-text > :nth-child(4){
    margin: 0%;
    color: var(--Black);
    font-size: 3vh;
}
.Blur{
    background: var(--LilaGradient);
    position: absolute;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 25%;
    filter: blur(250px);
    z-index: -1;
}

@media screen and (max-width: 1200px){

    .ProfilePictureFront, .ProfilePictureBack{
        height: 30vh;
        width: 30vh;
    }
    .Card-text{
        padding-top: 15vh;
    }
}

@media screen and (max-width: 900px){
    .Card{
        margin-top: 1vw;
    }
}

@media screen and (max-width: 650px){
    .ProfilePictureFront, .ProfilePictureBack{
        height: 45vw;
        width: 45vw;
    }
}
